
.idea/

badmint/__pycache__/

.DS_Store

*.sqlite3

api/__pycache__/

api/controllers/__pycache__/

api/migrations/__pycache__/

api/models/__pycache__/

api/serializers/__pycache__/

api/views/__pycache__/

staticfiles/
